{plugins,[ling_builder]}.
{sub_dirs,["deps","apps"]}.
{lib_dirs,["apps","deps"]}.
{deps_dir,["deps"]}.
{deps, [
    {n2o,           ".*", {git, "git://github.com/5HT/n2o.git",              "HEAD"}},
    {lager,         ".*", {git, "git://github.com/basho/lager.git",          {tag,"1.2.2"}}},
    {n2o_scripts,   ".*", {git, "git://github.com/synrc/n2o_scripts",        "HEAD"}},
    {twitter_btstrp,".*", {git, "git://github.com/twbs/bootstrap",           {tag,"v3.1.1"}}, [raw]},
    {font_awesome,  ".*", {git, "git://github.com/FortAwesome/Font-Awesome", {tag,"v3.2.1"}}, [raw]},
    {sync,          ".*", {git, "git://github.com/doxtop/sync",              "HEAD"}}
]}.
